#titulo{
font-family: Impact, haettenschweiler, "arial narrow bold", sans-serif;
}

body{
    background-color: black;
}

h1{
    color: blueviolet;
    background-color: cadetblue;
}
h2{
    color: aquamarine;
    background-color: black;
}
.secondTittle{
    color: blueviolet;
    background-color: cornflowerblue;
}